In [8]:
import pandas as pd
import Bio
from Bio.Seq import Seq

In [3]:
variants = pd.read_csv('230602_twist_hk19-validation-order.csv')
variants.columns = ['seq_name', 'seq']
variants

            seq_name                                                seq
0          3023_E50K  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
1         3023_H156S  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
2         3023_K189E  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
3         3023_S124R  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
4         3023_S193D  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
5         3023_S193Y  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
6         3023_T131K  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
7         3023_T160K  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
8   3023_T160K-L157D  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
9   3023_T160K-Y159N  tagctacagatgcagacacacagaagattcctggaaatgacaatag...
10        3023_Y159N  tagctacagatgcagacacacagaagattcctggaaatgacaatag...

In [35]:
def check_aa_residue(full_seq, site):
    ecto_seq = Seq(full_seq[20:1676])
    ecto_aa = ecto_seq.translate()
    
    return ecto_aa[site-1]

In [36]:
target_site = [50, 156, 189, 124, 193, 193, 131, 160, 157, 159, 159]
aa_list = []
i = 0

for sequence in variants['seq']:
    aa = check_aa_residue(sequence, target_site[i])
    aa_list.append(aa)   
    i+=1

In [37]:
variants['target_aa_id'] = aa_list
variants

,seq_name,seq,target_aa_id
0,3023_E50K,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,K
1,3023_H156S,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,S
2,3023_K189E,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,E
3,3023_S124R,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,R
4,3023_S193D,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,D
5,3023_S193Y,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,Y
6,3023_T131K,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,K
7,3023_T160K,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,K
8,3023_T160K-L157D,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,D
9,3023_T160K-Y159N,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,N
10,3023_Y159N,tagctacagatgcagacacacagaagattcctggaaatgacaatag...,N